<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/adv_template.css" %}">
  </head>
  <body>
    <!-- <nav class="navbar navbar-default navbar-inverse">

      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Ravi News</a>

        </div>


          <ul class="nav navbar-nav">
            <li class="active"><a href=" ">Home</a></li>

            <li> <a href="/movies">Movies</a> </li>

            <li> <a href="/sports">Sports</a> </li>

            <li> <a href="/politics">Politics</a></li>



            </ul>


      </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ravi News</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/movies">Movies</a>
      <a class="nav-item nav-link" href="/sports">Sports</a>
      <a class="nav-item nav-link" href="/politics">Politics</a>

    </div>
  </div>
</nav>

 {% block body_block %}

 {% endblock %}
  </body>
</html>
